main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  margin-top: 20px;
}
.listContainer {
  display: block;
  position: relative;
}
@media (max-width: 650px) {
  main ul {
    grid-template-columns: 1fr;
  }
}
